.category {
  border-radius: 15px;
  height: 120px;
}

.category img {
  height: 80%;
}

.watch {
  background-image: linear-gradient(#ff9c36, #ffd019);
}

.bag {
  background-image: linear-gradient(#ff589b, #ff136f);
}

.shoe {
  background-image: linear-gradient(#4289ff, #3f07f8);
}

button {
  background-image: linear-gradient(#ff589b, #ff136f);
}

.shoes a {
  /* background-image: linear-gradient(#ff589b, #ff136f); */
  background-color: #1f1f1f;
  color: white;
}

.shoes a:hover {
  /* background-image: linear-gradient(#ff589b, #ff136f); */

  color: aqua;
}

.bags a {
  /* background-image: linear-gradient(#ff589b, #ff136f); */
  background-color: #1f1f1f;
  color: white;
}

.bags a:hover {
  /* background-image: linear-gradient(#ff589b, #ff136f); */

  color: aqua;
}

.newsletter {
  height: 400px;
  margin: 30px auto;
  background-color: #fff2f1;
}

.slider {
  background-color: #feeae9;
}

.slider a {
  background-image: linear-gradient(#ff589b, #ff136f);
  color: white;
}

.shoes {
  margin-bottom: 20px;
}
